 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1178px;
}

.u-section-1 .u-shape-1 {
  width: 404px;
  height: 265px;
  margin: 42px auto 0 20px;
}

.u-section-1 .u-group-1 {
  width: 451px;
  min-height: 302px;
  margin: -229px auto 0 62px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: none;
  margin: 20px 8px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-style: solid;
  margin: 32px auto 0 0;
  padding: 18px 68px;
}

.u-section-1 .u-group-2 {
  width: 451px;
  min-height: 359px;
  margin: -338px 53px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 13px 28px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.875rem;
  margin: 16px 15px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 894px;
  margin: 70px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 626px;
  background-image: url("images/11f0d441f5587e71fd2f65c0136d44b6f9a7c072e62483494ae9cf07d14990c7dbcc115f9675d6ad2634f2d27ff2f25b6e5222f4338059a3a4c6a9_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 204px;
  background-image: none;
  width: 405px;
  margin: 392px auto 0 -123px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 40px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-image-2 {
  min-height: 681px;
  background-image: url("images/11f0d441f5587e71fd2f65c0136d44b6f9a7c072e62483494ae9cf07d14990c7dbcc115f9675d6ad2634f2d27ff2f25b6e5222f4338059a3a4c6a9_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 255px;
  background-image: none;
  width: 406px;
  margin: -255px 0 60px auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 0 0 40px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(53, 194, 53) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-image-1 {
    min-height: 745px;
  }

  .u-section-1 .u-group-3 {
    width: 305px;
    min-height: 319px;
    margin-top: 433px;
    margin-bottom: -41px;
    margin-left: -18px;
  }

  .u-section-1 .u-image-2 {
    min-height: 745px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 505px;
    margin-bottom: -113px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 756px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 912px;
    margin-bottom: -34px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 73px;
  }

  .u-section-1 .u-image-2 {
    min-height: 822px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 147px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 22px;
    padding-left: 21px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 476px;
  }

  .u-section-1 .u-group-3 {
    min-height: 267px;
    margin-top: 455px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 518px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 812px;
  background-image: none;
}

.u-section-2 .u-shape-1 {
  height: 248px;
  background-image: none;
  margin: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: -176px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 51px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 532px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 240px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(53, 194, 53) !important;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 240px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(53, 194, 53) !important;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-7 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-8 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-9 {
  height: 100%;
  color: rgb(53, 194, 53) !important;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 240px;
  height: 240px;
  object-position: 50% 94.17%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-icon-10 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-2 .u-icon-11 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-2 .u-icon-12 {
  height: 100%;
  color: rgb(53, 194, 53) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 439px;
  }

  .u-section-2 .u-social-icons-4 {
    width: 27px;
    min-width: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1345px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2353px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
  }

  .u-section-2 .u-text-10 {
    width: auto;
  }

  .u-section-2 .u-social-icons-3 {
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
  }

  .u-section-2 .u-text-13 {
    width: auto;
  }

  .u-section-2 .u-social-icons-4 {
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
  min-height: 778px;
}

.u-section-3 .u-shape-1 {
  height: 341px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.4375rem;
  margin: -280px auto 0 calc(((100% - 1140px) / 2) + 298px);
}

.u-section-3 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 19px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 427px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 16px;
}

.u-section-3 .u-image-1 {
  height: 357px;
  margin: 8px 15px 0;
}

.u-section-3 .u-group-1 {
  width: 254px;
  min-height: 166px;
  margin: -43px 0 -8px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 80px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-list-item-2 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 22px 16px;
}

.u-section-3 .u-image-2 {
  height: 357px;
  margin: 8px 15px 0;
}

.u-section-3 .u-group-2 {
  width: 254px;
  min-height: 166px;
  margin: -43px 0 -8px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 80px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-list-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 22px 16px;
}

.u-section-3 .u-image-3 {
  height: 357px;
  margin: 8px 15px 0;
}

.u-section-3 .u-group-3 {
  width: 254px;
  min-height: 166px;
  margin: -43px 0 -8px;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-3 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 80px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

.u-section-3 .u-icon-8 {
  height: 100%;
}

.u-section-3 .u-icon-9 {
  height: 100%;
}

.u-section-3 .u-list-item-4 {
  background-size: auto;
}

.u-section-3 .u-container-layout-7 {
  padding: 22px 16px;
}

.u-section-3 .u-image-4 {
  height: 357px;
  margin: 8px 15px 0;
}

.u-section-3 .u-group-4 {
  width: 254px;
  min-height: 166px;
  margin: -43px 0 -8px;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-social-icons-4 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 80px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 100%;
}

.u-section-3 .u-icon-11 {
  height: 100%;
}

.u-section-3 .u-icon-12 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 763px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 352px;
  }

  .u-section-3 .u-image-1 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-3 .u-image-2 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-3 .u-image-3 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    width: 221px;
    min-height: 172px;
    margin-top: -35px;
  }

  .u-section-3 .u-image-4 {
    height: 287px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-4 {
    width: 221px;
    min-height: 172px;
    margin-top: -35px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1327px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1078px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-image-1 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-image-2 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-image-3 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-image-4 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-4 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2373px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 23px 30px;
  }

  .u-section-3 .u-image-1 {
    height: 732px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 23px 30px;
  }

  .u-section-3 .u-image-2 {
    height: 732px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 23px 30px;
  }

  .u-section-3 .u-image-3 {
    height: 732px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 23px 30px;
  }

  .u-section-3 .u-image-4 {
    height: 732px;
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-4 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1920px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 4px;
  }

  .u-section-3 .u-image-1 {
    height: 387px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: -8px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 22px;
    padding-bottom: 4px;
  }

  .u-section-3 .u-image-2 {
    height: 387px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: -8px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 22px;
    padding-bottom: 4px;
  }

  .u-section-3 .u-image-3 {
    height: 387px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: -8px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 22px;
    padding-bottom: 4px;
  }

  .u-section-3 .u-image-4 {
    height: 387px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-4 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: -8px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 437px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 47px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-4 .u-image-1 {
  width: 135px;
  height: 135px;
  margin: 11px auto 0;
}

.u-section-4 .u-form-1 {
  height: 45px;
  width: 481px;
  margin: 29px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 323px;
}

.u-section-4 .u-container-layout-2 {
  padding: 11px 30px;
}

.u-section-4 .u-text-1 {
  margin: 19px 2px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 23px 0 38px;
}

.u-section-4 .u-text-3 {
  width: 357px;
  margin: 7px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.9376em;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  width: 357px;
  margin: -6px auto -7px;
}

.u-section-4 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 114px;
  min-width: 42px;
  white-space: nowrap;
  margin: 20px 30px 0 auto;
}

.u-section-4 .u-icon-2 {
  color: rgb(59, 89, 152) !important;
}

.u-section-4 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-text-5 {
  width: 631px;
  margin: -39px auto 38px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-4 .u-image-1 {
    width: 122px;
    height: 122px;
    margin-top: 14px;
  }

  .u-section-4 .u-form-1 {
    width: 407px;
    margin-top: 33px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 357px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 25px;
    margin-right: 77px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin: -35px 172px 47px 138px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 112px;
    height: 112px;
    margin-top: 27px;
  }

  .u-section-4 .u-form-1 {
    width: 321px;
    margin-top: 43px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 8px 16px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 22px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    width: 285px;
    margin-top: 8px;
  }

  .u-section-4 .u-text-4 {
    width: 285px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 36px;
    margin-right: 38px;
  }

  .u-section-4 .u-text-5 {
    margin: -39px 90px 39px 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 22px 10px;
  }

  .u-section-4 .u-image-1 {
    width: 108px;
    height: 108px;
  }

  .u-section-4 .u-form-1 {
    height: 105px;
    width: 369px;
    margin-top: 21px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 341px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 29px;
    margin-right: auto;
    margin-left: 14px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 23px;
    margin-right: 0;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 13px 0;
  }

  .u-section-4 .u-image-1 {
    width: 112px;
    height: 112px;
    margin-top: 11px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
    margin-top: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 90px;
    margin-right: 226px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: -109px;
    margin-bottom: 60px;
  }
}